* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h6 {
  color: #00ff44; }

header {
  padding: 0;
  background-color: #eb81c4; }
  header h1 {
    font-family: "send flowers", cursive;
    font-size: 50px; }
  header .logos {
    animation-name: efecto;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
    header .logos .logo {
      border-radius: 30%;
      display: flex;
      justify-content: center; }

@keyframes efecto {
  from {
    opacity: 1;
    transform: translate(0); }
  to {
    opacity: 0;
    transform: translate(300px); } }
  header .titulo {
    font-family: "send flowers", cursive;
    font-size: 50px;
    position: absolute;
    top: 140px;
    left: 100px;
    font-size: 60px; }
  header .subtitulo {
    font-family: "send flowers", cursive; }

.container {
  background-color: #d119a9; }
  .container__text {
    color: white; }

.index {
  padding: 0;
  /* background-color: rgb(17,162,145);*/
  background-image: url("imagen-nails/mariposaesmalte.png");
  display: flex; }
  .index .conse {
    text-align: center;
    background-color: #11a291;
    font-family: "send flowers", cursive; }
  .index .fondos {
    padding: 20px; }
  .index .imagen-dos {
    border-radius: 20%;
    position: relative;
    left: 100px;
    padding: 20px; }
  .index .texto {
    font-family: "send flowers", cursive;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 1.5; }
  .index div {
    background-color: #11a291; }

.seccion-uno {
  background-color: #11a291; }
  .seccion-uno .seccion__titulo {
    text-align: center;
    margin-bottom: 2rem; }
    .seccion-uno .seccion__titulo .grid {
      background-color: #11a291;
      display: grid;
      border: 2px solid #e3aaaa;
      padding: 1rem;
      min-height: 500px;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-auto-rows: minmax(250px, auto); }
      .seccion-uno .seccion__titulo .grid .grid_hijo {
        transition: 1s; }
      .seccion-uno .seccion__titulo .grid .grid_hijo :hover {
        transform: scale(1.2); }

.produ {
  background-color: #11a291; }

.medio {
  background: #af1fbb;
  background: linear-gradient(90deg, #af1fbb 0%, #171983 35%, #190979 53%, #00d4ff 87%); }
  .medio .seccion {
    display: flex;
    justify-content: center;
    align-items: center; }

.producto {
  border: 2px solid #e3aaaa;
  display: grid;
  grid-template-columns: 3;
  grid-row: 1; }
  .producto .grid_hijo img :hover {
    transform: scale(1, 3); }

.oferta {
  border: 2px solid;
  font-size: 25px;
  width: 30%;
  position: absolute;
  top: 600px;
  background-color: aqua; }

@media screen and (max-width: 800px) {
  .imagen-dos {
    width: 70%; }
  .fondo {
    background-color: #eb81c4; }
  .fondos {
    background-color: #11a2c4; }
  .consejos {
    background-color: #11a2c4;
    list-style: none; }
  .grid {
    display: grid;
    grid-template-columns: 1;
    grid-row: 8; }
    .grid .grid_hijo img :hover {
      transform: scale(1, 3); }
  .seccion {
    /*  display: grid;
        grid-template-columns: 1;
        grid-row: 3;*/
    display: grid;
    grid-template-columns: 1;
    grid-row: 3; }
  .index {
    /* display: grid;
        grid-template-columns: 1;
        grid-row: 3;*/
    display: grid;
    grid-template-columns: 1;
    grid-row: 3; }
  .tituloTratamiento {
    background-color: plum;
    text-align: center;
    padding: 15px;
    letter-spacing: 1.5;
    /* background-color: plum;
        text-align: center;
        padding: 15px;
        letter-spacing: 1.5;*/ }
  .formulario {
    padding: 20px; }
  .calendario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 5px;
    /*  display: flex;
        justify-content: center;
        align-items: center;
        margin:10px auto;
        padding:5px;*/ } }

.tituloTratamiento {
  background-color: plum;
  text-align: center;
  padding: 15px;
  letter-spacing: 1.5;
  /* background-color: plum;
        text-align: center;
        padding: 15px;
        letter-spacing: 1.5; */ }

.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 5px;
  /* display: flex;
        justify-content: center;
        align-items: center;
        margin:10px auto;
        padding:5px;*/ }

.clases {
  box-shadow: 0 20px 30px blue;
  text-align: center; }

.grid {
  display: grid;
  grid-template-columns: 2;
  grid-row: 8; }
  .grid .grid_hijo img :hover {
    transform: scale(1, 3); }

h3 {
  text-transform: uppercase; }

h4 {
  text-transform: uppercase; }

h6 {
  color: #00ff44; }

footer {
  background: #1f5dbb;
  /*background-image: linear-gradient(306deg, rgba(23,71,168,1) 19%, rgba(9,121,107,0.8706896551724138) 62%, rgba(214,48,196,1) 76%);
   */
  font-size: 20px; }

.clases {
  box-shadow: 0 20px 30px blueviolet; }
