
$color:(
    primary:rgb(0, 255, 68),
    secondary:black,);
    
@mixin medio ($sol) {
    display: grid;
    grid-template-columns: 1;
    grid-row: 3;
}
@mixin cal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    padding:5px;
}
@mixin trat {
    background-color: plum;
    text-align: center;
    padding: 15px;
    letter-spacing: 1.5;
}
    

.index{
   
    padding: 10%;
   /* background-color: rgb(17,162,145);*/
   
    display: flex;
    .conse{
        text-align: center;
       /* background-color: rgb(17, 162, 145);*/
        font-family: "send flowers", cursive;
    }
    .section{
        border: 2px seagreen solid;
        box-shadow: 0 20px 30px blue;
        text-align: center;
    }
   
    .imagen-dos{
        box-shadow: 0 20px 30px blue;
        text-align: center;
        border-radius: 20%;
        position: relative;
        left: 100px;
        padding: 20px;
    }
    .texto{
        font-family: "send flowers", cursive;
        font-weight: bold;
        font-size: 20px;
      /*  padding-left: 20px;*/
        letter-spacing: 1.5;
    }
    div{
      /* background-color: $letra;*/
      position: flex;
      align-items: flex-end;
    }
   .mariposa{
       display: flex;
       align-items: flex-end;
       
   }
/*hasta aca es el indexx*/
    }
    .seccion-uno{
        border:5px solid;
         /* background-color: rgb(17,162,145);*/
          .seccion__titulo{
            text-align: center;
            margin-bottom: 2rem;
            .grid{
               /* background-color: rgb(17, 162, 145);*/
                display: flex;
                flex-direction: row;
                border: 2px solid rgb(227, 170, 170);
                padding: 1rem;
                min-height: 500px;
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
                grid-auto-rows: minmax(250px, auto); 
                .grid_hijo{
                    transition: 1s;
                }
                .grid_hijo :hover{
                    transform: scale(1.2);
                }
            }
        }     
    }
    .produ{
        background-color: rgb(17, 162, 145);

    }
    .medio{
        background: rgb(175,31,187);
        background: linear-gradient(90deg, rgba(175,31,187,1) 0%, rgba(23,25,131,1) 35%, rgba(25,9,121,1) 53%, rgba(0,212,255,1) 87%);
        .seccion{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    } 
    .producto{
        border: 2px solid rgb(227, 170, 170);
        display: grid;
        grid-template-columns: 3;
        grid-row: 1;
        .grid_hijo img :hover{
            transform: scale(1,3);
        }
    } 
    .oferta{
        border: 2px solid;
        font-size: 25px;
        width: 30%;
        position: absolute;
        top: 600px;
        background-color: aqua;
    }
    @media screen and (max-width:800px)
{
    .imagen-dos{
        width: 70%;
}
    .seccion-uno{
        display: flex;
        flex-direction: column;
    }
    .fondo{
        background-color: rgb(235, 129, 196);
    }
    .fondos{
        background-color: rgb(17,162,196);
    }
    .consejos{
        background-color: rgb(17, 162, 196);
        list-style: none;
    }
    .grid{
        display: grid;
        grid-template-columns: 1;
        grid-row: 8;
        .grid_hijo img :hover{
            transform: scale(1,3);
        }
    }
    .seccion{
      /*  display: grid;
        grid-template-columns: 1;
        grid-row: 3;*/
        @include medio(pink);
    }
   
    .index{
       /* display: grid;
        grid-template-columns: 1;
        grid-row: 3;*/
        @include medio(lightblue);
       
    }
    .tituloTratamiento{
        @include trat()
       /* background-color: plum;
        text-align: center;
        padding: 15px;
        letter-spacing: 1.5;*/
    }
    .formulario{
        padding:20px;
    }
    .calendario{
        @include cal()
      /*  display: flex;
        justify-content: center;
        align-items: center;
        margin:10px auto;
        padding:5px;*/
    } 
    }
    .tituloTratamiento{
        @include trat()
       /* background-color: plum;
        text-align: center;
        padding: 15px;
        letter-spacing: 1.5; */
    }
    .calendario{
        @include cal()
       /* display: flex;
        justify-content: center;
        align-items: center;
        margin:10px auto;
        padding:5px;*/
    } 
    .clases{
        box-shadow: 0 20px 30px blue;
        text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: 2;
        grid-row: 8;
        .grid_hijo img :hover{
            transform: scale(1,3);
        }
    }
    @each $queen in (h3, h4){
        #{$queen} {text-transform: uppercase;}
    }
   
    
    h6{color: map-get($color, primary )}
    @media screen and (max-width:500px)
    {
        background-color: rgb(235, 129, 196);  
    }
