*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: "send flowers", cursive;
    font-size: 50px;
  
}
h2{
    font-family: "send flowers", cursive;
    font-size: 30px
}

header{
   background-color: rgb(235, 129, 196);
    width: 100%;
}  
.menu{
    background-color:  rgb(235,129,196);
}
.inicios {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    background-color: rgb(76, 195, 191);
    font-size: 20px;
    padding: 10px;
}
@media screen and (max-width:800px)
{
    .imagen-dos{
        width: 70%;
}
    .fondo{
        background-color: rgb(235, 129, 196);
    }
    .fondos{
        background-color: rgb(17,162,196);
    }
    .consejos{
        background-color: rgb(17, 162, 196);
        list-style: none;
    }
    .grid{
        display: grid;
        grid-template-columns: 1;
        grid-row: 8;
    }
    .seccion{
        display: grid;
        grid-template-columns: 1;
        grid-row: 3;
    }
    .spa{
        display: grid;
        grid-template-columns: 1;
        grid-row: 3;
    }
    .index{
        display: grid;
        grid-template-columns: 1;
        grid-row: 3;
    }
    
    }
    

.logos{
    animation-name: efecto;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes efecto{
    from{
        opacity: 1;
        transform: translate(0);
    }
    to{
        opacity: 0;
        transform: translate(300px);
    }
}

.logo{
    border-radius: 30%;
    display: flex;
    justify-content: center;
}

.titulo{
    position: absolute;
    top: 140px;
    left: 100px;
    font-size: 60px;
}

.subtitulo{
    font-family: "send flowers", cursive;
}

.index{
    background-color: rgb(17,162,145);
    display: flex;
}
.fondos{
    padding: 20px;
}
.imagen-dos{
    border-radius: 20%;
    position: relative;
    left: 100px;
    padding: 20px;
}
.fondo{
    letter-spacing: 1.5;
}
.texto{
    font-family: "send flowers", cursive;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 1.5;
}


.consejos{
    letter-spacing: 1.5;
}
.conse{
    text-align: center;
    background-color: rgb(17, 162, 145);
}
/*aca termina el index*/

.titulo-turnos{
    text-align: center;
}
.turnos{
    background-color:rgb(17, 162, 145) ;
}

.turnos-dos{
    background-color: rgb(17,162,145);
    text-align: center;
}
.nail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

/*acac termina turnos*/
.seccion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.medio{
    background: rgb(175,31,187);
    background: linear-gradient(90deg, rgba(175,31,187,1) 0%, rgba(23,25,131,1) 35%, rgba(25,9,121,1) 53%, rgba(0,212,255,1) 87%);
}
.seccion-uno{
  /*  width: 100%;*/
    background-color: rgb(17,162,145);
    
}
.seccion__titulo{
    text-align: center;
    margin-bottom: 2rem;
}
.grid{
    background-color: rgb(17, 162, 145);
    display: grid;
    border: 2px solid rgb(227, 170, 170);
    padding: 1rem;
    min-height: 500px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(250px, auto); 
}
.grid_hijo{
    transition: 1s;
}
.grid_hijo :hover{
    transform: scale(1.2);
}


/*acatermina galeria*/
.tratamiento{
    /*background-color: rgb(17, 162, 145); */
    position: relative;
    padding-bottom: 2.5rem;
    min-height: 100vh;
    width: 100%;
    display: grid;
    font-size: large;
    background: rgb(23,71,168);
    background: linear-gradient(90deg, rgba(23,71,168,1) 0%, rgba(9,121,115,1) 35%, rgba(214,48,196,1) 71%);
}


.spa__spa{
    font-family: "send flowers", cursive;
    font-size: 30px;
    text-align: center;
    background-color: rgb(235, 129, 196);
    
}
.manos{
    grid-column-start: 1;
    background-color: rgb(136, 78, 231);
    text-align: center;
    padding-top: 10px;
    
}
.manos-dos{
    grid-column-start: 2;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(51, 127, 234);
}
.manos-tres{
    grid-column-start: 3;
    padding-top: 10px;
    background-image: linear-gradient(to left, rgb(51,127,234), rgb(136,78,231));
}
.otros{
    list-style: none;
    text-align: center;
}



.foo{
    display: flex;
    flex-direction: column;
    
}

.produ{
    background-color: rgb(17, 162, 145);
}

.producto{
    border: 2px solid rgb(227, 170, 170);
    display: grid;
    grid-template-columns: 3;
    grid-row: 1;
}
.grid_hijo img :hover{
    transform: scale(1,3);
}
.oferta{
    border: 2px solid;
    font-size: 25px;
    width: 30%;
    position: absolute;
    top: 600px;
    background-color: aqua;
}


footer{
    background: rgb(31,93,187);
    background-image:linear-gradient(90deg, rgba(187,31,96,1) 11%, rgba(42,88,205,1) 52%, rgba(60,201,132,1) 87%);
}

